body{
	overflow-x:hidden;
}
.head-search{
	width: 100%;
	padding:0.2rem 0;
	height: 0.9rem;
	position: relative;
	border-bottom: 1px solid #d9d9d9;
	background: #fff;
	z-index: 10;
}
.search-left{
	width: 0.5rem;
	height: 100%;
	margin-left: 0.2rem;
}
.search-left a{
	display: inline-block;
	width: 0.46rem;
	height: 0.46rem;
	background: url(sprites/fanhui.png) no-repeat left top/cover;
	vertical-align: top;
}
.search-center{
	width: 4.3rem;
	height: 100%;
	margin-left: 0.35rem;
}
.search-center form{
	height: 100%;
	position: relative;
	border-bottom:1px solid #d9d9d9;
}
.search-center form input{
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none;
	border:0 none;
	color:#d9d9d9;
	font-size:0.26rem;
	padding-left: 0.7rem;
}
.search-center form i{
	position: absolute;
	top:0.09rem;
	left:0.19rem;
	display: block;
	width: 0.32rem;
	height: 0.32rem;
	background: url(sprites/sousuo.png) no-repeat left top/cover;
}
.search-center form span{
	display: block;
	position: absolute;
	bottom: 0;
	width: 0.01rem;
	height: 0.13rem;
	background: #d9d9d9;
}
.search-center form .post1{
	left:0;
}
.search-center form .post2{
	right:0;
}
.project{
	width: 100%;
}
.project-left{
	overflow-scrolling: touch;
	-webkit-overflow-scrolling: touch;
}
.project-left ul li{
	width: 1.4rem;
	height: 1rem;
}
.project-left ul li a{
	display: inline-block;
	background: #fff;
	font-size: 0.22rem;
	width: 1.4rem;
	height: 1rem;
	text-align: center;
	line-height: 1rem;
	vertical-align: top;
	border-bottom: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	color:#4d4d4d;
}
.project-left ul .active a{
	color:#ee1c1c;
	background: none;
	border-right: none;
}
.project-right{
	width: 4.91rem;
	padding-right: 0.2rem;
	box-sizing: border-box;
	overflow: hidden;
	overflow-scrolling: touch;
	-webkit-overflow-scrolling: touch;
}
#project .project-right{
	width: 100%;
	padding:0 0.2rem;
	box-sizing: border-box;
	background: #ffffff;
}
.project-nav-ctn{
	/*	border-bottom: 1px solid #e5e5e5;*/
}
.project-top-img {
	width: 100%;
	height: 1.52rem;
	margin-top: 0.2rem;
	z-index: 10;
}
.project-top-img img{
	width: 100%;
	height: 100%;
	display: block;
}

.project-nav{
	width: 100%;
	height: 0.68rem;
	margin:0.15rem 0;
	position: relative;
	background:#fff;

}
.project-fixed{
	position:absolute;
	top:0.88rem;
	right: 0;
	width: 4.91rem;
	padding-right: 0.2rem;
	height: 0.68rem;
	z-index: 22;
	display: none;
	border-top: 1px solid #e5e5e5;
	box-sizing: border-box;
}
.project-fixed .project-nav{
	margin:0;
	border-bottom:1px solid #fe0000;
}
#fixed01.project-fixed{
	width: 100%;
	padding: 0 0.2rem;
}
/*#fixed01.project-fixed .project-nav .navigation li{
	width: 23%;
	height: 0.68rem;
	margin-right: 2%;
}*/
#fixed01.project-fixed .project-nav .navigation li:last-child{
	float: right;
	margin-right: 0;
}
.project-nav .industry{
	height: 4.72rem;
	overflow: auto;
}
.project-nav .industry li ,.project-nav .subIndustry li{
	width: 50%;
	padding-right: 0.2rem;
}
/*.project-nav .navigation li{
	width: 50%;
	height: 0.68rem;
}*/
.project-nav .navigation li{
	width: 32%;
	height: 0.68rem;
	margin-right: 2%;
}
.project-nav .navigation li:last-child{
	width: 32%;
	height: 0.68rem;
	margin-right: 0;
}

/*#project .project-nav .navigation li{
	width: 23%;
	height: 0.68rem;
	margin-right: 2%;
}*/
#project .project-nav .navigation li:last-child{
	float: right;
	margin-right: 0;
}
.project-nav .navigation li a{
	display: block;
	width: 100%;
	height: 0.68rem;
	line-height: 0.68rem;
	font-size:0.24rem;
	color:#4d4d4d;
	text-align: center;
	/*-vertical-align: top;*/
	/*float: left;*/
	position: relative;
}
.project-nav .navigation li.li_train a{
	text-align: left;
}
.project-nav .navigation li a i{
	display: block;
	width: 0.15rem;
	height: 0.08rem;
	position: absolute;
	top:50%;
	right:0.1rem;
	margin-top: -0.04rem;
	background: url(../icon/shaixuan@2x.png) center center/cover;
}
.project-nav .navigation .active a{
	color:#f93700;
}
.project-nav .navigation .active a i{
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}


.nav-pos{
	width: 100%;
	background: #ffffff;
	border-top: 1px solid #e5e5e5;
	position: absolute;
	top:0.68rem;
	left:0;
	z-index: 3;
}
.nav-pos ul{
	/*width: 3.84rem;*/
	margin:0 auto;
	padding-left: 0.1rem;
	margin-right: -0.2rem;
	padding-bottom: 0.1rem;
}
.nav-pos ul li{
	height: 0.68rem;
}
.nav-pos ul li a{
	font-size: 0.22rem;
	color:#555;
	display: inline-block;
	/*display: block;*/
	vertical-align: top;
	line-height: 0.6rem;
	height: 100%;
	width: 100%;
	position: relative;
	box-sizing: border-box;

}
.nav-pos ul .active a{
	color:#ff5722;
}
.nav-pos .composite  ul  li{
	padding-right: 0.2rem;
}
.nav-pos .composite  ul .active i{
	position: absolute;
	right: 0;
	top: 50%;
	display: block;
	width: 0.22rem;
	height: 0.16rem;
	margin-top:-0.08rem;
	background: url(../icon/xuanzhong.png) center center/cover;
}
/*新增 行业分类*/
.nav-pos .industry .pronav_left{
	height: 100%;
	overflow-y: auto;
	width: 1.6rem;
	overflow-x: hidden;
}
.nav-pos .industry .pronav_left p{
	background: #f5f5f5;
	font-size: 0.22rem;
	width: 1.6rem;
	height: 1rem;
	text-align: center;
	line-height: 1rem;
	vertical-align: top;
	position: relative;
}
.nav-pos .industry .pronav_left p:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -0.55rem;
	width: 1.1rem;
	height: 1px;
	background: #ebebeb;
}
.nav-pos .industry .pronav_left p.active {
	color: #ff5722;
	background: #ffffff;
	border-right: none;
	border-left: 1px solid #ff5722;
}
.nav-pos .industry .pronav_right{
	height: 100%;
	overflow-y: auto;
	width: 5.2rem;
	margin-left: 0.2rem;
	/*margin-right: 0.24rem;*/
	overflow-x: hidden;
}
.nav-pos .industry .pronav_right ul {
	padding-left: 0;
	margin-right: -0.2rem;
	padding-bottom: 0.1rem;
	display: none;
}
.nav-pos .industry .pronav_right ul:first-child {
	display: block;
}
.nav-pos .industry .pronav_right li{
	float: left;
	width: 1.6rem;
	height: 1.6rem;
	margin-right: 0.2rem;
	margin-top: 0.2rem;
	border: 1px solid #e4e4e4;
	box-sizing: border-box;
	text-align: center;
	padding-right: 0;
}
.nav-pos .industry .pronav_right li a {
	font-size: 0.22rem;
	color: #555;
	display: inline-block;
	line-height: 1.6rem;
	height: 100%;
	width: 100%;
}
.money ul li{
	width: 2.2rem;
	height: 0.7rem;
	padding-right: 0.2rem;
	margin-top: 0.2rem;

}
.money ul li a{
	text-align: center;
	border: 1px solid #e4e4e4;
	border-radius: 0.2rem;
}

.money ul .active a{
	border: 1px solid #ff5722;
}

.nav-div{
	position: absolute;
	top: 0.68rem;
	left:0;
	width: 100%;
	background: #000;
	opacity: 0.5;
	z-index: 2
}

.project-details{
	width: 100%;
	overflow: hidden;
}
.Margin{
	margin-top: 0.68rem;
}
.top-load{
	font-size: 0.16rem;
	width: 100%;
	text-align: center;
	color:#c1c1c1;
	height: 0.3rem;
	line-height: 0.3rem;
	padding-bottom:1.6rem;
}
.project-details ul{
	width:5.2rem;
}
.project-details ul li{
	position: relative;
	width: 2.28rem;
	height: 3.1rem;
	background: #fff;
	padding:0.2rem;
	padding-bottom: 0;
	margin-right: 0.15rem;
	margin-bottom: 0.15rem;
}
/*培训专属 start*/
.project-details .corner{
	position: absolute;
	width: 0.5rem;
	height: 0.6rem;
	background: url(images/jiaobiao.png) no-repeat;
	background-size: 0.5rem 0.6rem;
	top: 0;
	left: 0;
}
/*培训专属 end*/
#project .project-details ul{
	width: 100%;
}
#project .sift-pro ul{
	/*padding: 0 0.24rem;*/
}
#project .sift-pro  li{
	padding: 0.3rem 0;
	border-bottom: 1px solid #e5e5e5;
}
#project .sift-pro li .li_img{
	width: 2.4rem;
	height: 1.6rem;
}
#project .sift-pro li .li_text{
	width: 4.38rem;
	overflow: hidden;
	padding-left: 0.24rem;
}
#project .sift-pro li .li_text h6{
	height: 0.3rem;
	line-height: 0.32rem;
	font-size: .28rem;
	color: #000000;
	font-weight: 400;
	padding-bottom: 0.1rem;
}
#project .sift-pro li .li_text .p1{
	font-size: .26rem;
	width: 100%;
	height: 0.26rem;
	line-height: 0.26rem;
	color: #777777;
	padding-top: 0.1rem;
	overflow: hidden;
}
#project .sift-pro li .li_text .p1 span{
	font-size: .26rem;
	color: #333333;
	padding-top: 0.1rem;
	display: inline;
}
#project .sift-pro li .li_text .p2{
	font-size: .26rem;
	color: #999999;
	padding-top: 0.15rem;

}
#project .sift-pro li .li_text .p2 span{
	height: 0.34rem;
	line-height: 0.34rem;
	font-size: .34rem;
	color: #ff5722;
	padding-top: 0.25rem;
	display: inline;
}



.project-details ul li a{
	display: inline-block;
	width: 100%;
	height: 100%;
	vertical-align: top;
	text-align: center;
}
.project-details ul li a img{
	display: block;
	width: 100%;
	height: 1.68rem;
}
.project-details ul li a .p01,
.sift-pro ul li a .p01{
	font-size: 0.22rem;
	color:#666;
	margin-top: 0.08rem;
	white-space: nowrap;
	width: 100%;
	/*height: 0.26rem;*/
	overflow: hidden;
	text-overflow: ellipsis;
}
.project-details ul li a span,
.sift-pro ul li a span{
	display: block;
	font-size: 0.18rem;
	color:#bfbfbf;
	white-space: nowrap;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
}
.project-details ul li a .p02,
.sift-pro ul li a .p02{
	font-size: 0.14rem;
	color:#ff7f0e;
	margin-top: 0.06rem;
}

.project-nav .subIndustry{
	height: 2.72rem;
	overflow: auto;
}
/*wrap-ctn*/
/*.wrap-ctn{*/
/*height: 7.9rem;*/
/*overflow: hidden}*/
/*.wrap-ctn>div {*/
/*min-height: 10rem!important;*/
/*}*/
/*.project-left{*/
/*height: 100%;*/
/*overflow: hidden*/
/*}*/
/*.project {*/
/*width: 100%;*/
/*height: 100%;*/
/*}*/